
<h1>Tasks</h1>
<table border="1" class="table">
    <tr>
        <th>Task    </th>
        <th>Due Date    </th>
        <th>Completion</th>
    </tr>
    @{
        if (ViewBag.ListOfTasks != null)
        {
            foreach (var x in ViewBag.ListOfTasks)
            {
                <tr>
                    <td>@x.Description</td>
                    <td>@x.DueDate</td>
                    <td>@x.Completion</td>
                </tr>
            }
        }
    }
</table>