
<h1>Tasks</h1>
<p>@Html.ActionLink("AddingTask","AddingTask")</p>

<table border="1" class="table">
    <tr>
        <th>Task    </th>
        <th>Due Date    </th>
        <th>Completion</th>
        <th>Delete</th>
    </tr>
    @{
        if (ViewBag.ListOfTasks != null)
        {
            foreach (var x in ViewBag.ListOfTasks)
            {
    <tr>
        <td>@x.Description</td>
        <td>@x.DueDate</td>
        <td>@x.Completion</td>
        <td><a href="/Home/DeleteItem?taskID=@x.TaskID" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a></td>
        <td><a href="/Home/ToggleStatus?taskID=@x.TaskID" onclick="return">Complete</a></td>
    </tr>
            }
        }
    }
</table>
