
<h1>Tasks</h1>
<table>
    <tr>
        <th>Task    </th>
        <th>Due Date    </th>
        <th>Completion</th>
    </tr>
</table>
@{ 
    if(ViewBag.ListOfTasks != null)
    {
        foreach(var x in ViewBag.ListOfTasks)
        {
            <p>@x.Description</p>
            <p>@x.DueDate</p>
            <p>@x.Completion</p>
        }
    }
}